version: '2.1'
services:
  user-service:
    image: user-service:latest
    ports:
      - '8086:8080'
    environment:
      ELASTIC_APM_SERVER_URL: 'http://localhost:8200'
      LOGGER_ELASTICSEARCH: 'http://localhost:9200'
      KARTOFFEL_URL: 'http://localhost:3000'
      RPC_PORT: 8080
      REDIS_PORT: '6379'
      REDIS_HOST: 'redis'
      SPIKE_CLIENT_ID: "CLIENT_ID"
      SPIKE_CLIENT_SECRET: "CLIENT_SECRET"
      SPIKE_REQUIRED: "false"
      SPIKE_URL: "https://localhost"
      SPIKE_AUTH_SERVER_PORT: 1337
      SPIKE_TOKEN_URL: "https://localhost:1337/oauth2/token"
    depends_on:
      - redis
  redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'
